body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content_main {
    text-align: center;
}
.content_title {
    padding: 120px;
    padding-top: 150px;
    padding-bottom: 80px;
    color: gray;
}
h1 {
    font-size: 18px;
    margin: 15px;
    letter-spacing: 8px;
}
h2 {
    font-size: 50px;
    margin: 10px auto 40px;
}
.content_menu {
    font-size: 14px;
}
a:link, a:visited {
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.927);
    color: rgba(128, 128, 128, 0.927);
    padding: 15px 25px;
    text-align: center;
    letter-spacing: 6px;
  }
  a:hover, a:active {
    background-color: rgba(128, 128, 128, 0.238);
  }